.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  overflow: hidden;
  width: 300px;
}

.card-image {
  width: 100%;
}

.card-details {
  padding: 16px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.card-subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 16px;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  align-items: center;
  display: flex;
  margin-right: 24px;
  margin-bottom: 8px;
  width: 50%;
}

.card-label {
  color: #777;
  font-size: 14px;
  margin-right: 8px;
  white-space: nowrap;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge.online {
  color: #fff;
  background-color: #28a745;
}

.badge.offline {
  color: #fff;
  background-color: #dc3545;
}

.mods-icon {
  font-size: 1.5rem;
  margin-left: 5px;
}

.has-mods {
  color: #2196f3;
}

.no-mods {
  color: #ff5722;
}

.card-mods-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0.5rem;
}

.card-mods-list.active {
  display: block;
}

.card-mods-icon {
  display: inline-block;
  margin-right: 0.5rem;
  cursor: pointer;
}

.card-mod {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  background-color: #eee;
  font-size: 0.8rem;
  color: #333;
}

.card-item .card-label:nth-of-type(2)::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.card-item.mods {
  display: flex;
  align-items: center;
}

.card-item.mods .mods-button {
  cursor: pointer;
  margin-left: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.card-item.mods .mods-button i {
  font-size: 20px;
}

.mods-list {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  display: none;
  z-index: 1;
}

.mods-list.visible {
  display: block;
}