<div class="card-container">
  <div class="card" *ngFor="let server of servers">

    <img class="card-image"
      src="{{ server.image || 'https://assets.reedpopcdn.com/pack__1_.png/BROK/resize/1200x1200%3E/format/jpg/quality/70/pack__1_.png' }}"
      alt="Server Logo">
    <div class="card-details">
      <div class="card-title">
        {{ server.motd }}
      </div>
      <div class="card-subtitle">{{ server.hostname }}</div>
      <div class="card-body">
        <div class="card-item">
          <span class="card-label">IP:</span> {{ server.ip }}
        </div>
        <div class="card-item">
          <span class="card-label">Puerto:</span> {{ server.port }}
        </div>
        <div class="card-item">
          <span class="card-label">Jugadores:</span> {{ server.players }}/{{ server.maxPlayers }}
        </div>
        <div class="card-item">
          <span class="card-label">Versión:</span> {{ server.version }}
        </div>
        <div class="card-item" *ngIf="server.mods">
          <span class="card-label">Mods:</span>
          <i class="material-icons mods-icon">build</i>
        </div>
        <div class="card-item" *ngIf="!server.mods">
          <span class="card-label">Mods:</span>
          <i (click)="toggleMods(server)" style="font-weight: bold;" class="material-icons mods-icon">clear</i>
        </div>


        <div class="card-item">
          <span class="badge" [class.online]="server.online" [class.offline]="!server.online">{{ server.online ?
            'En línea' : 'Offline' }}</span>
        </div>

        <div class="card-item mods" *ngIf="server.mods">
          <div class="mods-list" *ngIf="server.showMods">
            <div class="mods-item" *ngFor="let mod of server.mods">
              {{ mod }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>